.App-footer {
    background-image: url('../../Assets/Footer/bg.webp'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevents repeating */
    color: white;
    padding: 3rem 2rem;
    text-align: left;
    position: relative; /* Ensure correct layering for pseudo-elements or overlays */
}
.footer-logo {
    height: 100px;
    margin-bottom: 2rem;
    margin-left: -12px;
}

.footer-description {
    font-size: 15px;
    line-height: 2;
    font-family: 'Roboto';
    font-weight: 400;
}

.footer-list-item {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.footer-divider {
    border-top: 1px dashed #444;
    margin: 2rem 0;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
.allrights{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    
}

.social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    display: inline-flex; /* Ensures alignment for content inside */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: white; /* Default text color */
    background-color: transparent; /* Default background color */
    border-radius: 5px; /* Square shape */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    cursor: pointer; /* Pointer cursor on hover */
}

.social-icon:hover {
    background-color: #002D62; /* Hover background color */
    color: white; /* Hover text color */
}

.copyright{
    display: flex;
    align-items: center;
}

.footer-link {
    cursor: pointer;
    color: #6A6A6A;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 600px) {
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Reduce gap for smaller screens */
    }

    .copyright {
        justify-content: center;
        gap: 15px; /* Adjust gap for better spacing on smaller screens */
    }

    .allrights {
        font-size: 15px; /* Slightly smaller font size for better fit */
        text-align: center;
    }

    .social-icon {
        width: 30px; /* Reduce size of social icons */
        height: 30px;
        
    }

    .footer-link {
        font-size: 14px; /* Adjust font size for better fit */
    }
}
